* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: pacifico;
  font-size: 20px;
}
.panels {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
}
.panel {
  flex: 1;
  font-size: 20px;
  text-align: center;
  color: white;
  box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.1);
  transition: font-size 0.7s ease-in-out, flex 0.7s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
